<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Panel</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Admin Panel</h2>
  
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#menu0">New User</a></li>
    <li><a data-toggle="pill" href="#menu1">View All Users</a></li>
    
  </ul>
     <div  class="container colwhite" id="app2" ng-app="sortApp" ng-controller="mainController">
    <div id="login">
        <div class="">
  <div class="tab-content">
    <div id="menu0" class="tab-pane fade in active">
      <h3>New user</h3>
      <div class="row">
        <div class="col-lg-6">
         <hr>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/signup" method="post">
		<div class="form-group">
			<label>Username</label>
			<input type="text" class="form-control" name="username">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password">
		</div>

		<button type="submit" class="login-btn btn btn-default">Signup</button>
	</form>

	<hr>
          </div>
        </div>
    </div>
      
      
      
      
    <div id="menu1" class="tab-pane fade">
              
                    
                    <form role="form" class="" method="post">
                    <div class="row">
                      <div class="col-xs-4 col-xs-offset-4">  
                        <div class="form-group">
                            <label for="cat">Search here.</label>
                           <input type="text" class="form-control" placeholder="Search..." ng-model="searchMed" autofocus="yes" required="required">
                           
                          </div>
                        </div>
                        </div>
                    </form>
                    <br>
                <table class="table">
                    <thead>
                    <tr bgcolor='white' >
                        <td>
                            <a style="color:#353946;font-weight:bolder;" href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                                NAME
                                <span ng-show="sortType == 'name' && !sortReverse" class="fa-caret-down"></span>
                                <span ng-show="sortType == 'name' && sortReverse" class="fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a style="color:#353946;font-weight:bolder;" href="#" ng-click="sortType = 'category'; sortReverse = !sortReverse">
                                STATUS
                                <span ng-show="sortType == 'category' && !sortReverse" class="fa-caret-down"></span>
                                <span ng-show="sortType == 'category' && sortReverse" class="fa-caret-up"></span>
                            </a>
                        </td>
                        <td style="color:#353946;font-weight:bolder;">ACTIONS</td>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="roll in row | orderBy:sortType:sortReverse | filter:searchMed"><td>{{roll.name}}</td>
                        <td>{{roll.category}}</td>
                            <td>
                                <button class="login-btn btn btn-default btn-sm" ng-click="editStat(roll)"> {{(roll.category==="ACTIVE") ? 'SUSPEND' : 'ACTIVATE'}}</button>
                                <input type="button" class="login-btn btn btn-default btn-sm" ng-click="removeRow(roll.name)" value="Remove">
                            </td></tr>
                    </tbody>

                </table>
                
        </div>
    </div>
</div>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
     <script>
       var sortModule=angular.module('sortApp', [])
            sortModule.controller('mainController', function($scope,$http) {
                $scope.actions="babu";
                $scope.editablerow = [];
                $scope.sortType     = 'name'; // set the default sort type
                $scope.sortReverse  = false;  // set the default sort order
                $scope.searchMed   = '';     // set the default search/filter term
                function htmlDecode(input){
                    var e = document.createElement('div');
                    e.innerHTML = input;
                    return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
                }
                $scope.data = {};
                $scope.row = JSON.parse(htmlDecode("<%= JSON.stringify(data) %>"));
                $scope.editStat = function(roll) {
                        if (confirm("Changing the User state!!")) {
                            if(roll.category=="ACTIVE")
                            {$scope.data.stat=1;
                             roll.category="SUSPENDED";
                            }
                            else
                            {$scope.data.stat=2;
                            roll.category="ACTIVE";
                            }
                        $scope.data.name=roll.name;
                        $scope.data.f="statchange";
                        $http({
                            url: '/admin',
                            method: 'POST',
                            data: $scope.data
                        });
                }
            }
                $scope.removeRow = function(name){
                    if (confirm("Deleting the Item from Storage?")) {
                        $scope.data.name=name;
                        $scope.data.f=2;
                        $http({
                            url: '/admin',
                            method: 'POST',
                            data: $scope.data
                        });

                        var index = -1;
                        var comArr = eval($scope.row);
                        for (var i = 0; i < comArr.length; i++) {
                            if (comArr[i].name === name) {
                                index = i;
                                break;
                            }
                        }
                        if (index === -1) {
                            alert("Something gone wrong");
                        }
                        else
                        {
                            $scope.row.splice(index, 1);
                            alert("Item Deleted");}

                    }
                };
            });
</script>
    </div>
      
      
   
  </div>
</div>

</body>
</html>
